/* Reset and base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="number"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#recipes, #myRecipes {
    margin: 20px auto;
    width: 80%;
}

/* Additional styles for success and error messages */
#successMessage, #errorMessage {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#successMessage {
    background-color: #4CAF50;
    color: white;
}

#errorMessage {
    background-color: #f44336;
    color: white;
}

/* Button styles for manage categories */
#manageCategoriesBtn {
    display: block;
    margin: 10px auto;
    width: 200px;
    background-color: #007bff;
    color: white;
    text-align: center;
}
